/******* Global Settings *******/
* {
  box-sizing: border-box;
}

html {
  font-family: Roboto, Arial, sans-serif;
  font-size: 18px;
}

body {
line-height: 1.1;
color: #a5a5a5;
text-align: center;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h1, h2, h3 {
  color: #555;
  font-weight: bold;
}

p {
  font-size: 0.68rem;
  line-height: 1.1rem;
  letter-spacing: 0.018rem;
}

div {
  text-align: left;
}

.container {
  display: flex;
}

.heading {

}

/******* Header Settings *******/
header {
  height: 64px;
  min-width: 100%;
  background-color: #fff;
  z-index: 5;
  position: fixed;
}

.container.header {
  justify-content: center;
  align-items: center;
  margin: 16px 24px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo h2 {
  font-size: 1rem;
  text-transform: uppercase;
}

.logo a {
  text-decoration: none;
}

h2 .regular {
  color: #999;
  font-weight: normal;
}

.menu {
  float: right;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.menu ul {
  display: flex;
}

.menu a {
  color: #999;
  text-decoration: none;
  margin: 0 8px;
  transition: all 0.2s ease-in;
}

.menu a:hover {
  color: #333;
}

.mobile-menu {
  display: none;
}

/******* Main Settings *******/
/******* Section One Settings *******/
.section-one {
  background-color: #e1e1e1;
  padding-top: 64px;
}

.hero.img {
  margin: 32px 24px;
  width: 60%;
}

.hero img {
  max-width: 100%;
}

.hero.info {
  width: 40%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-right: 6em;
}

.info p {
  color: #777;
  margin: 24px 0;
}

.info button {
  background-color: #006888;
  border: 1px solid #a1a1a1;
  color: #f1f1f1;
  padding: 8px 38%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.info button:hover {
  background-color: #607B8B;
  border: 1px solid #a1a1a1;
}

/******* Section Two Settings *******/
.primary {
  margin: 32px 24px;
  width: 60%;
}

.primary img, .primary h2, .primary p {
  max-width: 100%;
}

.primary h2 {
  padding-top: 32px;
}

.primary p {
  padding-top: 24px;
}

p.quote-name {
  padding-top: 1.2rem;
  font-weight: bold;
}

.secondary {
  padding: 16px 0;
  width: 40%;
  display: flex;
  flex-direction: column;
}

.section-two .secondary {
  border-left: 2px solid #f1f1f1;
}

.box {
  display: inline-flex;
  align-items: center;
}

.box h3, .box p {
  padding-bottom: 8px;
}

.read-more a {
  text-decoration: none;
  color: #3299CC;  /* #3BB9FF */
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.read-more a:hover {
  text-decoration: none;
  color: 	#87CEEB;
}

.section-two .box.two {
  border-top: 3px solid #f1f1f1;
}

.box.three {
  background-color: #e1e1e1;
}

.secondary .image {
  width: 35%;
  height: auto;
}

.secondary .image img {
  max-width: 100%;
  padding: 16px;
}

.secondary .text {
  width: 65%;
  margin-right: 1rem;
}

/******* Section Three Settings *******/
.section-three {
  background-color: #f1f1f1;
}

.heading {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 32px 0 16px 0;
}

.courses {
  display: flex;
  flex-wrap: wrap;
  padding: 0 56px;
  padding-bottom: 16px;
}

.course {
  width: 30%;
  background-color: #fff;
  margin: 16px;
}

.course img {
  height: auto;
  max-width: 100%;
}

p.course-sub-title {
  padding: 8px 0;
}

.course-info {
  padding: 16px 16px 24px 16px;
}

/******* Section Four Settings *******/
.section-four .primary {
  margin-top: 16px;
}

.section-four h3 {
  padding-top: 24px;
}

.section-four p {
  padding-top: 8px;
}

video {
  max-width: 100%;
}

.section-four .box.one {
  background-color: #e1e1e1;
}

/******* Footer Settings *******/
.footer {
  height: 72px;
  border-top: 2px solid #f1f1f1;
  background-color: #555;
  padding: 16px 24px;
}

.copyright p, .footer .menu a {
  font-size: 0.6rem;
}

/******************************************************************************/
/******* MOBILE *******/
/******* Footer Settings *******/
@media only screen and (max-width: 736px) and (min-width: 319px) {
  .footer .container {
    display: initial;
  }

  .footer {
    height: auto;
  }

  .copyright p {
    text-align: center;
  }
}

/******* Section Four Settings *******/
@media only screen and (max-width: 1071px) {
  .course {
    width: 46%;
  }
}

@media only screen and (max-width: 736px) and (min-width: 319px) {
  .section-four .primary {
    margin-left: 0px;
    margin-right: 0px;
    width: auto;
  }

  .section-four .primary h3, .section-four .primary p {
    display: none;
  }

  .section-four .secondary {
    display: none;
  }
}

/******* Section Three Settings *******/
@media only screen and (max-width: 736px) and (min-width: 319px) {
  .courses {
    padding: 0 0 8px 0;
  }

  .course {
    width: 100%;
  }
}

/******* Section Two Settings *******/
@media only screen and (max-width: 736px) and (min-width: 319px) {
  .section-two .primary {
    display: none;
  }
}

/******* Section One Settings *******/
@media only screen and (max-width: 1014px) and (min-width: 873px) {
  .info button {
    padding: 8px 35%;
  }
}

@media only screen and (max-width: 872px) and (min-width: 670px) {
  .info button {
    padding: 8px 28%;
  }
}

@media only screen and (max-width: 736px) and (min-width: 319px) {
  .hero.img {
    margin: 0;
  }

  .hero.img, .hero.info {
    width: auto;
  }

  .hero.info {
    margin: 32px 16px;
    padding-right: 0;
  }

  .hero.text p {
    font-size: 1rem;
  }
}

/******* Header Settings *******/
@media only screen and (max-width: 736px) and (min-width: 319px) {
  .logo, .menu {
    display: none;
  }

  .mobile-menu {
    display: flex;
  }

  .mobile-menu ul {
    display: flex;
  }

  .mobile-menu li {
    margin: 0 1rem;
  }
}

/******* Global Settings *******/
@media only screen and (max-width: 736px) and (min-width: 319px) {
.container {
  flex-wrap: wrap;
  }
}
